.App{
  display: grid;
  grid-template-columns: 7em auto 7em;
  grid-template-rows: 10vh 90vh;

  grid-template-areas: "head head head"
                       "left-sidebar content right-sidebar"
}

.header{
  grid-area: head;
}

.left-bar{
  grid-area: left-sidebar;
  height: 90vh;
  
}

.right-bar{
  grid-area: right-sidebar;
  height: 90vh;
}

.content{
  background-color: #1A52A2;
  grid-area: content;
  
  height: 90vh;
  overflow:auto;
}

.footer{
  grid-area: foot;
}