.App{
  display: grid;
  grid-template-columns: 7em auto 7em;
  grid-template-rows: 6.05em auto;

  grid-template-areas: "head head head"
                       "left-sidebar content right-sidebar"
}

.header{
  grid-area: head;
}

.left-bar{
  grid-area: left-sidebar;
}

.right-bar{
  grid-area: right-sidebar;
}

.content{
  grid-area: content;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  
  overflow:auto;
}

.footer{
  grid-area: foot;
}