/* Remove Arrow/Spinner from Numerical Input box - W3Schools*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
  }

/* Show spinner on focus */
input::-webkit-outer-spin-button:focus,
input::-webkit-inner-spin-button:focus {
  -webkit-appearance: auto;
  margin: 0;
}

/* Firefox */
input[type=number]:focus { 
    -moz-appearance: auto;
    appearance: auto;
    margin: 0; 
  }

.left-bar, .right-bar{
    background-color: #5A2F80;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 13pt;
    text-align: center;
}

.bar-button{
  background-image: url("../media/icons/spellicon.svg");
  background-size: 100% 100%;
  background-color: #F29618;
  font-size: 16pt;
  color: #F29618;
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5pt;
  -webkit-box-shadow: 5px 5px 15px -7px #000000; 
  box-shadow: 5px 5px 15px -7px #000000;

}

.bar-button:active{
  background-position: 1px 1px;
}

.bar-button:focus{
  outline: none;
}

.selected{
  border: 3px solid #B31733;
}

.spell-counter{
  background-color: #F29618;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  border-radius: 5pt;
  -webkit-box-shadow: -5px 5px 15px -7px #000000; 
  box-shadow: -5px 5px 15px -7px #000000;
}

.spell-counter input{
  margin: 1px;
  padding: 0px;
  text-align: center;
  font-weight: 700;
  background-color:  #B31733;
  color:#F29618;
  border: none;
}

/* Spell Button Backgrounds */
#add-spell{
  background-image: url("../media/icons/newspell.svg");
}

#show-all{
  background-image: url("../media/icons/showall.svg");
}
  